{
  "parser": "babel-eslint",
  "extends": [
    "formidable/configurations/es6-browser",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "redux-saga",
    "flowtype"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.client.config.js"
      }
    }
  },
  "rules": {
    "generator-star-spacing": ["error", { "before": false, "after": true }],
    "no-constant-condition": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-console": ["error", { "allow": ["warn", "error"]}],
    "key-spacing": ["error", {
      "singleLine": {
        "beforeColon": false,
        "afterColon": true,
      },
      "multiLine": {
        "beforeColon": false,
        "afterColon": true,
      },
      "align": {
        "beforeColon": false,
        "afterColon": true,
        "on": "value"
      }
    }]
  }
}
